jexp>=0.1.2
httplib2>=0.6.0
Django>=1.3
decorator>=3.3.1
python-dateutil>=2.0
-e git+https://github.com/versae/neo4j-rest-client@e675afa75514768f08771f6945aa85fd5b329d79#egg=neo4jrestclient-1.5.0-py2.6-dev
